Options +Indexes

<IfModule mod_autoindex.c>

  # Ignore listing of the listing directory
  IndexIgnore "C:\xampp\htdocs\garciamaWeb\Extra\Apache-Directory-Listing\directory-listing"

  # Indexing options
  IndexOptions +AddAltClass +Charset=UTF-8 +FancyIndexing +FoldersFirst +HTMLTable
  IndexOptions +IgnoreCase +NameWidth=* +SuppressRules +SuppressDescription +IconsAreLinks

  # Some meta tags to add to the head tag
  IndexHeadInsert "<meta name='viewport' content='width=device-width, initial-scale=1'><meta http-equiv='X-UA-Compatible' content='IE=edge'>"

  HeaderName "C:\xampp\htdocs\garciamaWeb\Extra\Apache-Directory-Listing\directory-listing/header.html"
  ReadmeName "C:\xampp\htdocs\garciamaWeb\Extra\Apache-Directory-Listing\directory-listing/footer.html"
  IndexStyleSheet "C:\xampp\htdocs\garciamaWeb\Extra\Apache-Directory-Listing\directory-listing/table-darkmode.css"


  # Registering icons
  # Default icon
  DefaultIcon "C:\xampp\htdocs\garciamaWeb\Extra\Apache-Directory-Listing\directory-listing/icons/unknown.svg"

  # Some generic icons
  AddIcon "C:\xampp\htdocs\garciamaWeb\Extra\Apache-Directory-Listing\directory-listing/icons/blank.svg" ^^BLANKICON^^
  AddIcon "C:\xampp\htdocs\garciamaWeb\Extra\Apache-Directory-Listing\directory-listing/icons/folder.svg" ^^DIRECTORY^^
  AddIcon "C:\xampp\htdocs\garciamaWeb\Extra\Apache-Directory-Listing\directory-listing/icons/folder-home.svg" ..

  # Extension specific icons
  AddIcon "C:\xampp\htdocs\garciamaWeb\Extra\Apache-Directory-Listing\directory-listing/icons/archive.svg" .zip .7z .bz2 .cab .gz .tar .rar
  AddIcon "C:\xampp\htdocs\garciamaWeb\Extra\Apache-Directory-Listing\directory-listing/icons/audio.svg" .aac .aif .aifc .aiff .ape .au .flac .iff .m4a .mid .mp3 .mpa .ra .wav .wma .f4a .f4b .oga .ogg .xm .it .s3m .mod
  AddIcon "C:\xampp\htdocs\garciamaWeb\Extra\Apache-Directory-Listing\directory-listing/icons/bin.svg" .bin .hex
  AddIcon "C:\xampp\htdocs\garciamaWeb\Extra\Apache-Directory-Listing\directory-listing/icons/code.svg" .xml
  AddIcon "C:\xampp\htdocs\garciamaWeb\Extra\Apache-Directory-Listing\directory-listing/icons/doc.svg" .doc .docx .docm .dot .dotx .dotm .log .msg .odt .pages .rtf .tex .wpd .wps
  AddIcon "C:\xampp\htdocs\garciamaWeb\Extra\Apache-Directory-Listing\directory-listing/icons/img.svg" .bmp .png .tiff .tif .gif .jpg .jpeg .jpe .psd .ai .ico .webp
  AddIcon "C:\xampp\htdocs\garciamaWeb\Extra\Apache-Directory-Listing\directory-listing/icons/spreadsheet.svg" .xlsx .xlsm .xltx .xltm .xlam .xlr .xls .csv
  AddIcon "C:\xampp\htdocs\garciamaWeb\Extra\Apache-Directory-Listing\directory-listing/icons/presentation.svg" .ppt .pptx .pot .potx .pptm .potm .xps
  AddIcon "C:\xampp\htdocs\garciamaWeb\Extra\Apache-Directory-Listing\directory-listing/icons/c++.svg" .cpp
  AddIcon "C:\xampp\htdocs\garciamaWeb\Extra\Apache-Directory-Listing\directory-listing/icons/c.svg" .c
  AddIcon "C:\xampp\htdocs\garciamaWeb\Extra\Apache-Directory-Listing\directory-listing/icons/css3.svg" .css .sass .scss .less
  AddIcon "C:\xampp\htdocs\garciamaWeb\Extra\Apache-Directory-Listing\directory-listing/icons/font.svg" .ttf .TTF .woff .WOFF .woff2 .WOFF2 .otf .OTF
  AddIcon "C:\xampp\htdocs\garciamaWeb\Extra\Apache-Directory-Listing\directory-listing/icons/h.svg" .h
  AddIcon "C:\xampp\htdocs\garciamaWeb\Extra\Apache-Directory-Listing\directory-listing/icons/html5.svg" .html .xhtml .shtml .htm .URL .url
  AddIcon "C:\xampp\htdocs\garciamaWeb\Extra\Apache-Directory-Listing\directory-listing/icons/info.svg" .nfo .info
  AddIcon "C:\xampp\htdocs\garciamaWeb\Extra\Apache-Directory-Listing\directory-listing/icons/iso.svg" .iso .img
  AddIcon "C:\xampp\htdocs\garciamaWeb\Extra\Apache-Directory-Listing\directory-listing/icons/java.svg" .jar .java
  AddIcon "C:\xampp\htdocs\garciamaWeb\Extra\Apache-Directory-Listing\directory-listing/icons/js.svg" .js .json
  AddIcon "C:\xampp\htdocs\garciamaWeb\Extra\Apache-Directory-Listing\directory-listing/icons/markdown.svg" .md
  AddIcon "C:\xampp\htdocs\garciamaWeb\Extra\Apache-Directory-Listing\directory-listing/icons/package.svg" .pkg .dmg .rpm .deb
  AddIcon "C:\xampp\htdocs\garciamaWeb\Extra\Apache-Directory-Listing\directory-listing/icons/pdf.svg" .pdf
  AddIcon "C:\xampp\htdocs\garciamaWeb\Extra\Apache-Directory-Listing\directory-listing/icons/php.svg" .php .phtml
  AddIcon "C:\xampp\htdocs\garciamaWeb\Extra\Apache-Directory-Listing\directory-listing/icons/py.svg" .py
  AddIcon "C:\xampp\htdocs\garciamaWeb\Extra\Apache-Directory-Listing\directory-listing/icons/rb.svg" .rb
  AddIcon "C:\xampp\htdocs\garciamaWeb\Extra\Apache-Directory-Listing\directory-listing/icons/script.svg" .bat .BAT .cmd .sh .ps .exe .EXE .msi .MSI
  AddIcon "C:\xampp\htdocs\garciamaWeb\Extra\Apache-Directory-Listing\directory-listing/icons/sql.svg" .sql
  AddIcon "C:\xampp\htdocs\garciamaWeb\Extra\Apache-Directory-Listing\directory-listing/icons/text.svg" .txt .cnf .conf .map .yaml
  AddIcon "C:\xampp\htdocs\garciamaWeb\Extra\Apache-Directory-Listing\directory-listing/icons/vector.svg" .svg .svgz
  AddIcon "C:\xampp\htdocs\garciamaWeb\Extra\Apache-Directory-Listing\directory-listing/icons/video.svg" .asf .asx .avi .flv .mkv .mov .mp4 .mpg .rm .srt .swf .vob .wmv .m4v .f4v .f4p .ogv .webm

  # Icons based on their type
  AddIconByType (TXT,C:\xampp\htdocs\garciamaWeb\Extra\Apache-Directory-Listing\directory-listing/icons/text.svg) text/*
  AddIconByType (IMG,C:\xampp\htdocs\garciamaWeb\Extra\Apache-Directory-Listing\directory-listing/icons/img.svg) image/*
  AddIconByType (SND,C:\xampp\htdocs\garciamaWeb\Extra\Apache-Directory-Listing\directory-listing/icons/audio.svg) audio/*
  AddIconByType (VID,C:\xampp\htdocs\garciamaWeb\Extra\Apache-Directory-Listing\directory-listing/icons/video.svg) video/*

</IfModule>